name: Update version

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 * *'

jobs:
  update-version:
    name: Automatically get latest deptrac version and commit

    runs-on: ubuntu-latest

    steps:
      - name: "Checkout code"
        uses: actions/checkout@v2
        with:
          ref: master
          fetch-depth: '0'

      - name: "Update Dockerfile and action.yml"
        id: fetch_version
        run: |
          latest=$(curl -s https://packagist.org/packages/sensiolabs-de/deptrac.json|jq '[.package.versions[]|select(.version|test("^\\d+\\.\\d+\\.\\d+$"))|.version]|max_by(.|[splits("[.]")]|map(tonumber))')
          latest=$(echo $latest | tr -d '"')
          echo "Latest deptrac version is $latest"
          echo ::set-output name=latest::$latest
          sed -i -re "s/ENV VERSION=.*/ENV VERSION=$latest/" Dockerfile
          cat Dockerfile
          sed -i -re "s/deptrac-action:[0-9.]+/deptrac-action:$latest/" action.yml
          cat action.yml

      - name: "Commit changes"
        uses: stefanzweifel/git-auto-commit-action@v4
        id: commit
        with:
          commit_author: "Simon Mönch <simon.moench@sensiolabs.de>"
          commit_message: "Enhancement: Upgrade to deptrac ${{ steps.fetch_version.outputs.latest }}"
          commit_user_email: "simon.moench@sensiolabs.de"
          commit_user_name: "Simon Mönch"

      - name: "Tag version ${{ steps.fetch_version.outputs.latest }}"
        uses: "anothrNick/github-tag-action@1.30.0"
        if: steps.commit.outputs.changes_detected == 'true'
        id: tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CUSTOM_TAG: ${{ steps.fetch_version.outputs.latest }}
          RELEASE_BRANCHES: master

      - name: "Create release ${{ steps.fetch_version.outputs.latest }}"
        uses: actions/create-release@v1
        if: steps.commit.outputs.changes_detected == 'true'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.tag.outputs.new_tag }}
          release_name: ${{ steps.tag.outputs.new_tag }}
          commitish: master
          body: "https://github.com/sensiolabs-de/deptrac/releases/tag/${{ steps.tag.outputs.new_tag }}"
